/**
 * @Author: Mael Seewald
 * @Date:   2024-12-11 13:02:52
 * @Last Modified by:   Mael Seewald
 * @Last Modified time: 2024-12-11 17:09:44
 */
::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(248, 255, 245);
  display: flex;
  align-items: center;
  flex-direction: column;
}
header {
  width: 100vw;
  height: 30vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/südkurve.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  margin: 0;
  margin-top: 10px;
  text-shadow: 0 0 10px black;
  margin-bottom: 10px !important;
  color: rgb(255, 255, 255);
}

.nav-links {
  width: 96vw;
  height: 60px;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255);
  border-radius: 10px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}
#nav-burger {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}
@keyframes slideDown {
  from {
    bottom: 100%;
  }
  to {
    bottom: 0%;
  }
}

@keyframes slideUp {
  from {
    bottom: 0%;
  }
  to {
    bottom: 100%;
  }
}

#responsiv-links {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  list-style-type: none;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#responsiv-links.open {
  display: flex;
  animation: slideDown 0.5s ease-in;
}

#responsiv-links.close {
  animation: slideUp 0.5s ease-in;
}

#responsiv-links a {
  color: rgb(255, 255, 255);
  margin: 0;
}
li {
  margin: 10px;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  transition: color 0.3s;
  text-align: center;
  font-weight: bold;
  margin-left: 100px;
  margin-right: 100px;
  transition: 0.2s;
}
.nav-links a:hover {
  text-shadow: 0 0 60px black;
}
main {
  height: auto;
  width: 80vw;
  background-color: rgb(255, 255, 255);
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: 20px;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.pagecontent {
  width: 60vw;
  height: auto;
  text-align: justify;
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 50px;
}
img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  border-radius: 20px;
  margin-bottom: 30px;
}
footer {
  height: 15vh;
  width: 97vw;
  background-color: rgb(255, 255, 255);
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  margin: 20px;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h4 {
  font-size: 15px;
}
@media (max-width: 480px) {
  h1 {
    font-size: 20vw;
    text-align: center;
    margin: 0;
  }
  .nav-links {
    display: none;
  }
  #nav-burger {
    display: flex;
  }
  #responsiv-links {
    display: none;
  }
  .pagecontent {
    text-align: left;
  }
  footer {
    height: 17vh;
    justify-content: center;
  }
  footer a {
    width: auto;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  footer p {
    text-align: center;
    margin: 0;
  }
}
